# Motivation

**Sebastian Thrun** (former Stanford professor, winner of DARPA Grand Challenges in autonomous driving, founder of Udacity) summarizes why he is enthusiastic about Machine Learning and AI: https://www.youtube.com/watch?time_continue=1&v=EDHDzVoYw0w

More insights follow in a **TED talk: What AI is and isn't**
https://www.ted.com/talks/sebastian_thrun_and_chris_anderson_the_new_generation_of_computers_is_programming_itself?language=en

**Yuval Noah Harari provides a more sceptical view** on what he calls technological disruption (AI/automation/robotics): https://www.ted.com/talks/yuval_noah_harari_nationalism_vs_globalism_the_new_political_divide?language=en&utm_campaign=tedspread&utm_medium=referral&utm_source=tedcomshare

Many machine learning examples and tutorials are on Kaggle: https://www.kaggle.com/
also machine learning competitions, for example,
Automated Essay Scoring: https://www.kaggle.com/c/asap-aes


cutting edge research in AI/ML has been accomplished by DeepMind: https://deepmind.com/

# Getting started

Python is the basis for using popular machine learning libraries. A good introduction to Python is at https://www.w3schools.com/python/default.asp
or the following tutorial: https://www.programiz.com/python-programming#tutorial

Let's first check which Python version is installed:

In [7]:
!python --version

Python 3.7.0

The hello world example is a simple print statement. In Python 3 you have to use brackets, but it does not matter whether you use single or double quotes:

In [8]:
print('hello world!')

hello world!

In [9]:
print("hello world!")

hello world!

In Python werden Variable nicht deklariert. Es gibt daher keine statische Typprüfung durch den Compiler wie in Java. Es können einer Variablen sogar Werte unterschiedlicher Datentypen zugewiesen werden. Das ist auf den ersten Blick bequem. Damit wird es jedoch unmöglich, gewisse Fehler automatisch zu entdecken.

In [12]:
i= 8      # i is of type integer
j= 12     # j is of type integer
print(i)
print(j)
j= "hi"   # j is now of type string!
print (j)

8
12
hi

In [13]:
print (i + j)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
print (str(i) + ' ' + j)    # Python type cast: type(variable)

8 hi

In [18]:
pi= 3.141596   # pi is of type float
print (pi)
print(type(pi))

3.141596
<class 'float'>

Strings are surrounded by either single quotation marks, or double quotation marks.

In [19]:
firstName= "Demis"
lastName= 'Hassabis'
print (firstName + ' ' + lastName)

Demis Hassabis

In [21]:
print (firstName[3])
print (lastName[0])

i
H

In [34]:
print(len(lastName))
print(lastName)  # try to omit print

8
Hassabis

In [37]:
lastName

'Hassabis'

In [25]:
print("Enter your name:")
name = input()
print("Hi " + name + "!")

Enter your name:
Wolfgang
Hi Wolfgang!

Logical operators are 'and' 'or' 'not'

In [30]:
a= True
b= False
print ("a is " + str(a))
print ("b is " + str(b))
print ("not b is " + str(not b))
print ("a and b is " + str(a and b))
print ("a or b is " + str(a or b))

a is True
b is False
not b is True
a and b is False
a or b is True

# Collections

There are four collection data types in the Python programming language:

**List** is a collection which is ordered and changeable. Allows duplicate members.

In [57]:
fruits= ["strawberry", "banana", "pineapple", 'kiwi']
print (fruits)
print (fruits[2])
print(len(fruits))

['strawberry', 'banana', 'pineapple', 'kiwi']
pineapple
4

In [51]:
fruits[1]= 'cherry'
print (fruits)

['strawberry', 'cherry', 'pineapple', 'kiwi']

In [47]:
for fruit in fruits:
  print(fruit)

strawberry
cherry
pineapple
kiwi

In [52]:
if 'cherry' in fruits:
  print("'cherry' is in the fruits list")
else:
  print("'cherry' is NOT in the fruits list")

'cherry' is in the fruits list

In [53]:
fruits.append('orange')
print (fruits)
print(len(fruits))

['strawberry', 'cherry', 'pineapple', 'kiwi', 'orange']
5

In [54]:
fruits.remove('strawberry')
print (fruits)
print(len(fruits))

['cherry', 'pineapple', 'kiwi', 'orange']
4

In [55]:
fruits.sort()
print (fruits)
print(len(fruits))

['cherry', 'kiwi', 'orange', 'pineapple']
4

In [56]:
fruits.clear()
print (fruits)
print(len(fruits))

[]
0

**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.

In [63]:
seasons= ("spring", "summer", "fall", "winter")
print (seasons)
print(len(seasons))

('spring', 'summer', 'fall', 'winter')
4

In [61]:
seasons[0]= "summer"

TypeError: 'tuple' object does not support item assignment

In [62]:
for season in seasons:
  print(season)

spring
summer
fall
winter

**Set** is a collection which is unordered and unindexed. No duplicate members.

In [66]:
somePrimes= {2, 3, 5, 7, 9, 11, 13, 17, 19, 23}
print (somePrimes)
print(len(somePrimes))

{2, 3, 5, 7, 9, 11, 13, 17, 19, 23}
10

In [67]:
somePrimes.add(29)
print (somePrimes)
print(len(somePrimes))

{2, 3, 5, 7, 9, 11, 13, 17, 19, 23, 29}
11

In [76]:
somePrimes.add(29)
print (somePrimes)
print(len(somePrimes))

{2, 3, 5, 37, 7, 9, 41, 11, 13, 17, 19, 23, 29, 31}
14

In [69]:
somePrimes.update([31, 37, 41])
print (somePrimes)
print(len(somePrimes))

{2, 3, 5, 37, 7, 9, 41, 11, 13, 17, 19, 23, 29, 31}
14

**Dictionary** is a collection of (key, value) pairs. A dictionary is unordered, changeable and indexed. No duplicate key entries.

In [95]:
pioneers = {
    123: "Bill Gates",
    234: "Steve Jobs",
    567: "Larry Page",
    890: "Sergey Brin"
}
print (pioneers)
print(len(pioneers))

{123: 'Bill Gates', 234: 'Steve Jobs', 567: 'Larry Page', 890: 'Sergey Brin'}
4

In [96]:
for value in pioneers.values():
  print(value)

Bill Gates
Steve Jobs
Larry Page
Sergey Brin

In [97]:
for key, val in pioneers.items():
  print(val + " has ID: " + str(key))

Bill Gates has ID: 123
Steve Jobs has ID: 234
Larry Page has ID: 567
Sergey Brin has ID: 890

In [98]:
print(pioneers.get(890))

Sergey Brin

In [99]:
item= pioneers.get(890)
item= "Niklaus Wirth"
print (pioneers)
print(len(pioneers))

{123: 'Bill Gates', 234: 'Steve Jobs', 567: 'Larry Page', 890: 'Sergey Brin'}
4

In [100]:
pioneers.update({567: "Niklaus Wirth"})
print (pioneers)
print(len(pioneers))

{123: 'Bill Gates', 234: 'Steve Jobs', 567: 'Niklaus Wirth', 890: 'Sergey Brin'}
4

## Conditions
Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

## Indentation ("Einrückung") 

In if statements and loops Python syntax requires indentation of all statements forming a block instead of { and }

## if statement

- not brackets () required to enclose condition
- a colon follows the condition
- all statements comprising the then or else branch are indented

In [105]:
i= 11
j= 19
if i > j:
    print("i > j")
else:
    print("j >= i")

j  >= i

cascaded else with elif keyword:

In [110]:
i= 11
j= 11
if i > j:
    print("i > j")
elif i == j:
    print("i = j")
else:
    print("j > i")

i = j

## while loops

In [115]:
start = 1
limit= 30
sum= 0
i= start
while i <= limit:
    sum= sum + i
    i= i + 1
print ("sum of numbers from " + str(start) + " up to and including " + str(limit) + " is " + str(sum))

sum of numbers from 1 up to and including 30 is 465

## for loops
see some examples already in the Collections section above

looping over the characters of a string:

In [116]:
for ch in "Kalapawei":
  print(ch)

K
a
l
a
p
a
w
e
i

nested for loop:

In [119]:
attributes = ["organic", "imported"]
fruits = ["strawberry", "pineapple", "orange"]

for attr in attributes:
  for fruit in fruits:
    print(attr, fruit)

organic strawberry
organic pineapple
organic orange
imported strawberry
imported pineapple
imported orange

## functions

- keyword def
- parameters without type :: Java formal and actual parameters

In [122]:
def printLine():
    print("---------------")
    
printLine()

---------------

function with parameters:

In [128]:
def printNameUpper(name):
        print(name.upper())
    
printNameUpper("Hello world")

HELLO WORLD

function which actually is a function and returns a value:

In [133]:
def max(i, j):
    if (i > j):
        return i
    else:
        return j
print(max(7, 11))

11